.vscode/

__pycache__/
*.py[cod]
*$py.class

.env
.env.local

migrations/*.db
migrations/*.sqlite

.vscode/
.idea/

__pycache__/
*.py[cod]
*$py.class

.DS_Store
Thumbs.db

.DS_Store
Thumbs.db

#docker-compose.override.yaml

#.env
#.env.local